*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}

.calculator{
    height: 450px;
    width: 300px;
    margin: 100px auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #c1c1c1, -10px -10px 20px #ffffff;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.screen{
    grid-row: 1;
    padding: 10px;
}

.screen input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    font-size: 2rem;
    text-align: right;
    padding-right: 15px;
    box-shadow: inset 8px 8px 8px #c1c1c1, inset -8px -8px 8px #ffffff;
}

.keys{
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
    cursor: pointer;
}

button:active{
    box-shadow: inset 1px 1px 2px #c1c1c1, inset -1px -1px 2px #ffffff;
}

.equal{
    grid-column: span 2;
}
